/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  height: 100vh;
  background-color: #F7AEF8;
  font-family: "Montserrat", serif;
}

img {
  width: 100%;
  display: block;
}

.main-content {
  height: calc(100% - 90px);
  background-color: #8093F1;
  display: flex
}

.main-content .sidebar {
  color: #ffffff;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px;
  /* width: 50px; */
  /* width: 300px; */
  overflow: hidden;
}

.main-content .sidebar #logo {
  padding: 0 10px;
}

.main-content .sidebar #logo .logo {
  width: 30px;
  height: 30px;
}

.main-content .sidebar #logo .logo-lg {
  display: none;
  width: 130px;
}

.main-content .sidebar #menu {
  background-color: #8A6552;
  padding: 20px 0;
}

.main-content .sidebar #menu li {
  margin-bottom: 5px;
  padding: 0 10px 0 7px;
  line-height: 35px;
}


.main-content .sidebar #menu li a {
  color: #fff;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500
}

.icon-default {
  width: 25px;
  height: 25px;
  background-color: #A41623;
}

.icon-default.home {
  mask-image: url('../img/home.svg');
  mask-size: cover;
}

.main-content .sidebar #menu li a .menu-text {
  display: none;
}

.main-content .sidebar #menu li a img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.main-content .sidebar #playlist {
  background-color: #462521;
  display: none;
  padding: 10px 20px;
  overflow: hidden;
}

.main-content .sidebar .list {
  height: 100%;
  overflow-y: auto;
}

.main-content .sidebar #profile {
  background-color: #BDB246;
  margin-top: auto;
}


/* main */

.main-content main {
  background-color: #F4F4ED;
  flex-grow: 1;
  /* width: calc(100% - 50px); */
  overflow-y: auto;
}

.main-content main .top-main {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: red; */
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;

}

.main-content main .top-main .btn {
  display: inline-block;
  background-color: #adff2f;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid coral;
}

.main-content main .nav-menu ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

/* .main-content main .nav-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content main .nav-menu ul li div {
  height: 2px;
  background-color: red;
  width: 30%;
  display: none;
}

.main-content main .nav-menu ul li:hover div {
  display: block;
} */

/* .main-content main .nav-menu ul a:hover {
  border-bottom: 2px solid red;
} */

.main-content main .nav-menu ul a {
  background-color: yellow;
}

.main-content main .nav-menu ul a:after {
  content: '';
  height: 4px;
  background-color: red;
  display: block;
  width: 30px;
}



.main-content main .album-container {
  padding: 20px;
}

.main-content main .album-container>section {
  margin-bottom: 30px;
}



.main-content main .album-container .albums {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-content main .album-container .albums>* {

  /* background-color: crimson;
  border: 2px solid black; */
  width: calc((100% - 40px) / 2);
  flex-shrink: 0;
}

.main-content main .album-container .albums .album-info {
  text-align: center;
  padding: 15px;
}

.main-content main .album-container .albums article {
  cursor: pointer;
}

.main-content main .album-container .albums article .image-container {
  position: relative;
}

.main-content main .album-container .albums article .image-container {
  position: relative;
}

.main-content main .album-container .albums article .album-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;


}

.main-content main .album-container .albums article:hover .album-hover {
  display: flex;
  color: #ffffff;
  font-size: 30px;
}

.main-content main .album-container .albums article:hover .album-info {
  background-color: #B388EB;
  color: green;
}


/* footer */

footer {
  height: 90px;
  background-color: #B388EB;
}





@media (min-width: 768px) {
  .main-content main .album-container .albums>* {
    /* width: calc(100% / 4); */
    width: calc((100% - 60px) / 4);
  }
}






/* desktop */
@media (min-width: 992px) {

  .main-content .sidebar {
    width: 230px;
  }

  /* logo */
  .main-content .sidebar #logo .logo {
    display: none;
  }

  .main-content .sidebar #logo .logo-lg {
    display: inline;
  }


  .main-content .sidebar #menu li {
    padding: 0 20px;
    border-left: 3px solid transparent;
  }

  .main-content .sidebar #menu li.active {
    border-color: #adff2f;
  }

  .main-content .sidebar #menu li a {
    justify-content: flex-start;
  }

  .main-content .sidebar #menu li a .menu-text {
    display: inline;
  }

  .main-content .sidebar #playlist {
    display: block;
  }

  .main-content main .album-container .albums>* {
    /* width: calc(100% / 6); */
    width: calc((100% - 100px) / 6);
  }



}