/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  height: 100vh;
  background-color: #F7AEF8;
  font-family: "Montserrat", serif;
}

.main-content {
  height: calc(100% - 90px);
  background-color: #8093F1;
  display: flex
}

.main-content .sidebar {
  color: #ffffff;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px;
  /* width: 50px; */
  /* width: 300px; */
  overflow: hidden;
}

.main-content .sidebar #logo {
  padding: 0 10px;
}

.main-content .sidebar #logo .logo {
  width: 30px;
  height: 30px;
}

.main-content .sidebar #logo .logo-lg {
  display: none;
  width: 130px;
}

.main-content .sidebar #menu {
  background-color: #8A6552;
  padding: 20px 0;
}

.main-content .sidebar #menu li {
  margin-bottom: 5px;
  padding: 0 10px 0 7px;
  line-height: 35px;
}


.main-content .sidebar #menu li a {
  color: #fff;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500
}

.icon-default {
  width: 25px;
  height: 25px;
  background-color: #A41623;
}

.icon-default.home {
  mask-image: url('../img/home.svg');
  mask-size: cover;
}

.main-content .sidebar #menu li a .menu-text {
  display: none;
}

.main-content .sidebar #menu li a img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.main-content .sidebar #playlist {
  background-color: #462521;
  display: none;
  padding: 10px 20px;
  overflow: hidden;
}

.main-content .sidebar .list {
  height: 100%;
  overflow-y: auto;
}

.main-content .sidebar #profile {
  background-color: #BDB246;
  margin-top: auto;
}


/* main */

.main-content main {
  background-color: #F4F4ED;
  flex-grow: 1;
  /* width: calc(100% - 50px); */
}

.main-content main .top-main {
  height: 90px;
  background-color: chartreuse;
}

/* footer */

footer {
  height: 90px;
  background-color: #B388EB;
}












/* desktop */
@media (min-width: 992px) {

  .main-content .sidebar {
    width: 230px;
  }

  /* logo */
  .main-content .sidebar #logo .logo {
    display: none;
  }

  .main-content .sidebar #logo .logo-lg {
    display: inline;
  }


  .main-content .sidebar #menu li {
    padding: 0 20px;
    border-left: 3px solid transparent;
  }

  .main-content .sidebar #menu li.active {
    border-color: #adff2f;
  }

  .main-content .sidebar #menu li a {
    justify-content: flex-start;
  }

  .main-content .sidebar #menu li a .menu-text {
    display: inline;
  }

  .main-content .sidebar #playlist {
    display: block;
  }



}