* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-info {
  display: none;
}

@media (min-width: 768px) {

  /* body {
    background-color: red;
  } */

  .title-info {
    display: inline;
  }

}

@media (min-width: 1200px) {
  /* body {
    background-color: green;
  } */
}

img {
  float: left
}