/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  /* rispetto al contenitore */
  display: block;
  /* può essere dimensionata e rimuove lo spazio sotto */
}

/* common */

body {
  font-family: "Montserrat", serif;
  background-color: #f6f5f3;
}

.nerko-one-regular {
  font-family: "Nerko One", serif;
  font-weight: 400;
  font-style: normal;
}

/* header */

header.site-header {
  background-color: #ffffff;
  padding: 25px;
  text-align: center;
}

header .logo {
  font-size: 3rem;
  color: #ff9614;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


/* main */

main.site-main {
  padding: 30px 25px;
}

main .container {
  max-width: 1400px;
  margin: 0 auto;
}

/* article-card */

#article-card .article-category {
  color: #999999;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}

#article-card .article-title {
  color: #4e3969;
  font-size: 2rem;
  margin-bottom: 30px;
}

#article-card .article-title-info {
  display: none;
}


#article-card .main-article-content {
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 1px 5px 6px 0px #dedede;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#article-card .article-content-info {
  padding: 40px;

}

#article-card .article-content-info-title {
  margin-bottom: 50px;
}

#article-card .article-content-info-list li {
  margin-bottom: 20px;
}





/* banner */

#article-banner {
  display: none;
}





/* tablet */
@media (min-width: 768px) {


  header.site-header {
    text-align: left;
  }

  main.site-main {
    padding: 60px;
  }

  /* article-card */

  #article-card .article-title-info {
    display: inline;
  }

  /* 
    article-content-info-list */

  #article-card .article-content-info-list {
    display: flex;
    flex-wrap: wrap;
  }

  #article-card .article-content-info-list li {
    width: calc(100% / 3);
  }

  /* banner */

  #article-banner {
    display: block;
  }


}

/* desktop */
@media (min-width: 992px) {

  /* main-article-content */

  #article-card .main-article-content {
    display: flex;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #article-card .article-content-header {

    flex-grow: 1;
  }


  #article-card .article-content-info {
    width: 400px;
    flex-shrink: 0;


  }

  #article-card .article-content-info-list {
    display: block;
  }

  #article-card .article-content-info-list li {
    width: 100%
  }




}