/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* common */

body {
  font-family: "Montserrat", serif;
}

.nerko-one-regular {
  font-family: "Nerko One", serif;
  font-weight: 400;
  font-style: normal;
}