/********
Reset
********/

/*****

Asterisco
Tag
Classe
ID

*/



* {
  margin: 0;
  padding: 0;
}


/********
Common
********/

.container {
  /* padding-left: 20px;
  padding-right: 20px; */
  max-width: 70%;

  margin: 0 auto;
}

.mb-default {
  margin-bottom: 20px;
}



/*********
Header
*********/

header {
  background-color: #4ea0ff;
  background-image: url('../img/pattern.png');
  background-size: 30%;

  /* height: 100px; */
  /* padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 7px; */

  /*** shorthand ***/

  padding: 40px 0px 15px 0px;

  /* margin-bottom: 25px; */

}

#logo {
  height: 40px;
}


/********
Main
********/

h1 {
  font-size: 40px;
}

.subtitle {
  color: #808080;
}

.author {
  color: #20a9e5;
}

.article-date {
  font-size: 14px;
}

/*** image section ***/

.caption {
  font-size: 12px;
}