/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */

.container {
  max-width: 1390px;
  margin: 0 auto;
}

/* header */

header {
  padding: 20px 0;
  background-color: #ff6900;
}

header nav {
  display: flex;
}