/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */

body {
  font-family: sans-serif;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

header {
  padding: 20px 0;
  background-color: #ff6900;
  box-shadow: 0 1px 3px 0px #777;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 10px;

}

header ul a {
  color: #ffffff;
  font-weight: bold;
}

header ul a:hover {
  color: #000000;
}

header #logo {
  display: inline-block;
}

header #logo img {
  height: 30px;
}

header .header-menu {
  width: 250px;
}

header .header-menu.user-menu {
  justify-content: flex-end;
}