/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: darkgoldenrod; */
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}



.container {
  width: 1190px;
  margin: 0 auto;
}

.container.primary {
  width: 1190px;
}

.container.secondary {
  width: 1000px;
}




.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0061fe;
  color: #ffffff;
}

.btn:hover {
  filter: brightness(1.4);
}

img {
  width: 100%;
  display: block;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}


/* header */

header.main {
  /* background-color: coral; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 1px 3px 0px #ddd;
}

header.main ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

header.main a {
  color: #000000;
}


/* main */

#jumbotron {
  background-color: #b4d0e6;
  margin-bottom: 150px;
}

#jumbotron .jumbotron-info {
  display: flex;
}

#jumbotron .jumboleft {
  width: 30%;
}

#jumbotron .jumboright {
  width: 70%;
}

#jumbotron .container {
  position: relative;
  /* bottom: -100px; */
  top: 100px;
}

#jumbotron h1 {
  font-size: 70px;
  font-weight: 900;
  /* line-height: 80px; */
  margin-bottom: 50px;
}

#jumbotron .fa-arrow-down {
  font-size: 45px;
}

/* main plans */

#plans h2 {
  font-size: 30px;
}

#plans .invoice-options {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

#plans .invoice-options .radio {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid #d0cfd4;
}

#plans .invoice-options .radio.checked {
  border: 6px solid #0062fe;
}

#plans .row .col {
  width: calc((100% - 100px) / 3);
  /* height: 200px; */
  /* background-color: yellow; */
  flex-shrink: 0;
}

#plans .row .col.big {
  flex-grow: 1;
  /* width: 100%; */
}

#plans article {
  border: 1px solid #d0cfd4;
  height: 100%;
}

#plans article header {
  border-bottom: 1px solid #d0cfd4;
  text-align: center;
  padding: 10px;
}

#plans article .content {
  padding: 40px 30px;
}

#plans article .content h3 {
  font-size: 23px;
  margin-bottom: 20px;
}

#plans article .content .price {
  margin-bottom: 15px;
}

#plans article .content .frequency {
  color: #6b6d6a;
  margin-bottom: 50px;
}

#plans article .content .options-include li {
  display: flex;
  gap: 7px;
  margin-bottom: 20px;
  align-items: baseline;
}

#plans article .content .buy-now {
  margin-bottom: 30px;
}


#plans article .content .buy-now a {
  text-decoration: underline;

}

#plans article .content hr {
  width: 45px;
  border: 0;
  height: 1px;
  background-color: #d0cfd4;

}