/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: darkgoldenrod; */
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1190px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0061fe;
  color: #ffffff;
}

.btn:hover {
  filter: brightness(1.4);
}

img {
  width: 100%;
  display: block;
}

.mb-30 {
  margin-bottom: 30px;
}


/* header */

header {
  /* background-color: coral; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 1px 3px 0px #ddd;
}

header ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

header a {
  color: #000000;
}


/* main */

#jumbotron {
  background-color: #b4d0e6;
  margin-bottom: 150px;
}

#jumbotron .jumbotron-info {
  display: flex;
}

#jumbotron .jumboleft {
  width: 30%;
}

#jumbotron .jumboright {
  width: 70%;
}

#jumbotron .container {
  position: relative;
  /* bottom: -100px; */
  top: 100px;
}

#jumbotron h1 {
  font-size: 70px;
  font-weight: 900;
  /* line-height: 80px; */
  margin-bottom: 50px;
}

#jumbotron .fa-arrow-down {
  font-size: 45px;
}