/******
Reset
******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box {
  width: 200px;
  height: 200px;
  background-color: chartreuse;
  margin-bottom: 20px;

}

.box-border {
  /* border-width: 2px;
    border-color: black;
    border-style: solid; */

  /* shorthand */
  /* border-left: 5px solid black;
    border-right: 20px dotted red; */


  border: 2px solid black;
  /* border-radius: 50px; */
  /* border-top-left-radius: 20px; */
  border-radius: 50%;
}

.box-padding {
  padding-top: 50px;
  padding-left: 15px;
}

.box-margin {
  margin: auto;
}


.box-content-box {
  padding: 20px;
  border: 2px solid black;
  box-sizing: content-box;
}


.box-border-box {
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box;
}

.box-demo-eredi {
  color: white;
}

p.starred {
  color: red;
}

p.starred.valerio {
  color: blue;
}



.starred {
  color: green;
}


input {
  background-color: yellow;
  color: red;
}

input[type="email"] {
  color: blue;
}

input[type="text"] {
  background-color: aqua;
}

div.demo-display {
  display: none;
}


a {
  background-color: yellow;
  color: red;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: blue;
  background-color: darkgoldenrod;
  width: 100px;
  height: 100px;
}

a:visited {
  color: green;
  background-color: blueviolet;
}

a:focus {
  color: yellow;
  background-color: blue;
}

ul.demo-pseudo-selettore li {
  background-color: yellow;
  color: red;
}

ul.demo-pseudo-selettore li:first-child {
  background-color: green;
}

ul.demo-pseudo-selettore li:last-child {
  background-color: blue;
}

ul.demo-pseudo-selettore li.first {}

ul.demo-pseudo-selettore li.last {}

div.primo-div>p {
  color: red;
}

div.primo-div+p {
  color: green;
}