/******
Reset
******/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/******
Common
******/

body {
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

/********
Header
********/

header {
  background-color: #ffffff;
  padding: 10px 20px;
  /* padding: 10px 20px 10px 20px;
  padding: 10px 20px 10px;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px; */

  margin-bottom: 40px;

}

#logo-img {
  vertical-align: middle;
}

#logo-text {
  font-size: 27px;
  vertical-align: middle;
  font-weight: bold;
}


/********
Main
********/

.container {
  /* background-color: #ffffff; */
  background-color: #ffffff;
  max-width: 790px;
  margin: 0 auto;
  border-radius: 5px;
}

#button-section {
  padding: 14px 50px 8px;
  border-bottom: 2px solid #f6f8f9;
}

#tasks-section {
  padding: 35px 50px;
  color: #434851;
}



.btn {
  all: unset;
  background-color: #ffffff;
  border: 1px solid #c4cbd0;
  font-size: 12px;
  padding: 8px 10px;
  border-radius: 5px;
  color: #c4cbd0;
  cursor: pointer;

}

.btn-add {
  background-color: #14aaf5;
  color: #ffffff;
  border: 1px solid #14aaf5;
}

.current-section {
  margin-bottom: 20px;
}

.title-section {
  margin-bottom: 15px;
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ff1010;
  color: #ff1010;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.checked {
  border: 1px solid green;
  color: green;
}

.tasks-list {
  margin-bottom: 5px;
}

.tasks {
  list-style-type: none;
}

.text {
  vertical-align: middle;
}

.category {
  display: inline-block;
  background-color: gray;
  color: white;
  border-radius: 10px;
  font-size: 11px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-left: 5px;
}

.category-editorial {
  background-color: #09a9ed;
  border-color: #09a9ed;
}

.category-recruiting {
  background-color: #2cc6ab;
  border-color: #2cc6ab;
}

.category-q1 {
  background-color: #ab5de6;
  border-color: #ab5de6;
}

.category-mobile {
  background-color: #ff9b00;
  border-color: #ff9b00;
}

.category-website {
  background-color: #ec4a9d;
  border-color: #ec4a9d;
}