/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  /* width: 1200px; */
}

.container.big {
  width: 1200px;
}

.container.small {
  width: 800px;
}

ul {
  list-style-type: none;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 35px;
  font-size: 14px;
}

.btn.big {
  padding: 20px 25px;
  font-size: 18px;
}

.btn.primary {
  background-color: #000000;
  color: #ffffff;
}


/* header */
header {
  background-color: #255ee9;
  padding: 15px 0;
}

header .topbar {
  display: flex;
  align-items: center;

}

/* header .topbar>* {
  padding: 10px;
} */

header .topbar>div.logo,
header .topbar>div.login {
  width: 240px;
  flex-shrink: 0;

}

header .topbar>.menu {
  flex-grow: 1;

}

header .topbar>.login {
  text-align: right;
}


header .menu ul {
  gap: 80px;
  justify-content: center;
}



/* main */

main .main-section {
  background-color: #255ee9;
  background-image: url("../img/jumbo.png");
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
}

main>div,
main>section {
  padding: 50px 0;
}

main .jumbotron {
  /* background-color: #ee82ee; */
  color: #ffffff;
  text-align: center;
}

main .jumbotron h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

main .jumbotron p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 30px;
}

main .jumbotron .btn-container {
  gap: 20px;
  justify-content: center;
}





main section .row {
  display: flex;
}

main section:nth-child(odd) {
  background-color: #d3d3d3;
}

main section:nth-child(odd) .row {
  flex-direction: row-reverse;
}

main section .row .aside-element {
  width: 490px;
  flex-shrink: 0;
  background-color: #ffc0cb;
}

main section .row .content-element {
  flex-grow: 1;
  background-color: #1e90ff;
}


/* debug */
.debug header .topbar>*,
.debug main .jumbotron,
.debug .row:empty,
.debug .row>* {
  border: 1px dashed black;
}

.debug main .jumbotron {
  height: 400px;

}

.debug main section .row {
  height: 500px;
  background-color: blueviolet;
}